.login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 330px;
  border: 1px solid greenyellow;
  border-radius: 8px;
  //   box-shadow: inset 2;
  //   margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .showImg {
    flex: 1;
    border-right: 1px solid pink;
    height: inherit;
    line-height: inherit;
    text-transform: uppercase;
    letter-spacing: 2;
  }
  .userInfo {
    flex: 1.5;
  }
}
