h1 {
  text-align: center;
  color: #5165ea;
}
#answer {
  width: 100%;
  position: relative;
  height: 70vh;
}
#chatWindow {
  width: 100%;
  height: calc(70vh - 50px);
  overflow-y: auto;
  background-color: #e2eeff;
  white-space: pre-line;
  padding: 10px 20px;
}
.ipt {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 60px;
  margin: 0 15px;
  padding-right: 15px;
  border-radius: 15px;
  width: calc(100% - 30px);
  height: 50px;
  border: 1px solid #e7eaec;
  #chatInput {
    resize: none;
    overflow-y: auto;
    border: none;
    box-shadow: none;
    outline: none;
    width: 100%;
  }
  #chatInput:focus {
    border: none !important;
    box-shadow: none !important;
  }
}
// 原文链接：https://blog.csdn.net/qq_57421630/article/details/129481145
